/* imports */
@import "./base";
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

/* mixins */
@mixin flex($direction, $background) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: $direction;
    background: $background;
}

@mixin intro-grid {
    display: grid;
    width:100%;
    color: rgb(0, 0, 0);
    grid-template-columns: 1fr 0.7fr;
}

@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}

/* variables */
$primary-button: rgb(107, 176, 255);
$body-font: 15px;

/* video */
video {
    width: 100%;
    aspect-ratio: 16/9;
}

/* main styles */

@include headings {
    font-family: "Vollkorn";
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizelegibility;
    line-height: 1.1;
}

  body {
    margin:0;
    background-image: url("https://i.ibb.co/KDG5R6n/Group-1.png");
}

.nav {
    display:none;
}

header {
    @include flex(column,x);
}

  .intro-grid {
    @include intro-grid;
  }
  

 .intro-sub {
    width: 90%;
 }

  .col {
    padding: 20px;
    margin: auto;
  }


.container {
    display: block;
    margin: auto;
    padding: 2%;
    max-width: 1000px;
}

h1 { 
    font-size: 60px;
    margin-bottom: 20px;
}

.social-item {
    margin-right:10px;
    font-size:17px;
    font-family: "Work Sans",sans-serif;
}

.socials {
    display: flex;
}

.intro {
    display: block;
    height:300px;
    width:100%;
}

.contact {
    @include flex(column,lightblue);
}

p {
    font-size:17px;
    font-family: "Work Sans",sans-serif;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.item-link {
    color: black;
    text-decoration: none!important;
}

.item-link:hover {
    color:#1ED291;
    text-decoration: underline;
}


.intro-wrapper {
    padding-top: 5vh;
    padding-bottom: 5vh;
}



// text circle animation
#circle { 
    position: absolute; 
    z-index: -1;
    top: -50;
    left: 0;
    width: 100%; 
    padding-bottom: 100%; 
    overflow: hidden; 
}

#circle text { font-family: "Work Sans",sans-serif; font-size: 10px; font-weight: 200; text-transform: uppercase; }

#circle svg { position: absolute; left: 0; top: 0; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}



