/* imports */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

/* mixins */
@mixin flex($direction, $background) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: $direction;
  background: $background;
}

@mixin intro-grid {
  display: grid;
  width: 100%;
  color: rgb(0, 0, 0);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@mixin headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

/* variables */
$primary-button: rgb(0, 0, 0);
$body-font: 15px;

/* main styles */
@include headings {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizelegibility;
  line-height: 1.1;
}

body {
  margin: 0;
}

.blogs-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 1rem;
  margin-bottom: 20px;
}
.read-time {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
}

.blog-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0px;
  margin-bottom: 15px;
}

.blog-container > .social-item {
  margin-bottom: 0;
}

.blog-card {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
}

.blog-link {
  font-size: 0.9rem;
}

.excerpt {
  font-family: "Work Sans", sans-serif;
  line-height: 1.4;
  font-size: 0.9rem;
  color: rgb(60, 60, 60);
}

.blog-image {
  height: 150px;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.blog-container {
  padding: 6%;
}

.right-grid-column {
  overflow: hidden;
}

.mini-icon img {
  width: 100%;
  display: inline-block;
  position: relative;
  top: 5px;
  max-width: 0.9em;
  height: auto;
  white-space: nowrap;
  border-radius: 3px;
  vertical-align: top;
}

.mini-icon .oncrawl {
  top: 8px;
}

footer {
  width: 100%;
  position: relative;
  background-color: transparent;
  border-top: 1px solid black;
  margin: 0 auto;
  margin-top: 10vh;
  bottom: 0px;
  padding: 1px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
}

footer > p {
  font-size: 14px;
  margin-top: 14px;
}

section {
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}

.worked-logo {
  aspect-ratio: 3/2;
  object-fit: contain;
  width: 85px;
  mix-blend-mode: color-burn;
  filter: contrast(200%) grayscale(1);
}

.geotab-image {
  width: 110px;
  position: absolute;
}

.ecoski {
  width: 60px;
}

.blackcreek {
  width: 105px;
  position: absolute;
}

.johnsons {
  width: 100px;
  position: absolute;
}

.bootcamp {
  width: 120px;
  position: absolute;
}

.zoe-image {
  width: 60px;
}

.imaware {
  width: 100px;
  position: absolute;
}

.tots {
  width: 110px;
  position: absolute;
}

.parent div {
  display: flex;
  justify-content: center;
  align-items: center;
}

//splide

.splide__container {
  box-sizing: border-box;
  position: relative;
}
.splide__list {
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}
.splide__pagination {
  -ms-flex-align: center;
  margin-bottom: 10px !important;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  pointer-events: none;
}
.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  pointer-events: auto;
}
.splide:not(.is-overflow) .splide__pagination {
  display: none;
}
.splide__progress__bar {
  width: 0;
}
.splide {
  position: relative;
  visibility: hidden;
  overflow: hidden;
}
.splide.is-initialized,
.splide.is-rendered {
  visibility: visible;
}
.splide__slide {
  backface-visibility: hidden;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  overflow: hidden;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
}
.splide__slide img {
  vertical-align: bottom;
}
.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}
.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none;
}
.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}
.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}
@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.splide__track--fade > .splide__list > .splide__slide {
  margin: 0 !important;
  opacity: 0;
  z-index: 0;
}
.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  z-index: 1;
}
.splide--rtl {
  direction: rtl;
}
.splide__track--ttb > .splide__list {
  display: block;
}
.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 1.5em;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5em;
  z-index: 1;
}
.splide__arrow:hover:not(:disabled) {
  opacity: 0.9;
}
.splide__arrow:disabled {
  display: none;
  transition: 0.3s;
}
.splide__arrow:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}
.splide__arrow--prev {
  left: 1em;
}
.splide__arrow--prev img {
  transform: scaleX(-1);
  transform: rotate(180deg);
  width: 60%;
}
.splide__arrow--next {
  right: 1em;
}
.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}
.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}
.splide__pagination__page {
  background: #fff;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: 1;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
  width: 8px;
}
.splide__pagination__page.is-active {
  background: #000;
  transform: scale(1.4);
  z-index: 1;
}
.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 1;
}
.splide__pagination__page:focus-visible {
  outline: 3px solid #000;
  outline-offset: 3px;
}
.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #000;
  outline-offset: 3px;
}
.splide__slide {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.splide__slide:focus {
  outline: 0;
}
@supports (outline-offset: -3px) {
  .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide__slide:focus-visible {
    border: 3px solid #0bf;
  }
}
@supports (outline-offset: -3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf;
  }
  .splide.is-focus-in .splide__track > .splide__list > .splide__slide:focus {
    border-color: #0bf;
  }
}
.splide__toggle {
  cursor: pointer;
}
.splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}
.splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}
.splide__track--nav > .splide__list > .splide__slide {
  border: 3px solid transparent;
  cursor: pointer;
}
.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 3px solid #000;
}
.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em;
}
.splide__arrows--rtl .splide__arrow--prev svg {
  transform: scaleX(1);
}
.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto;
}
.splide__arrow--next img {
  width: 60%;
}
.splide__arrows--rtl .splide__arrow--next img {
  transform: scaleX(-1);
}
.splide__arrows--ttb .splide__arrow {
  left: 50%;
  transform: translate(-50%);
}
.splide__arrows--ttb .splide__arrow--prev {
  top: 1em;
}
.splide__arrows--ttb .splide__arrow--prev img {
  transform: rotate(-90deg);
}
.splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto;
}
.splide__arrows--ttb .splide__arrow--next img {
  transform: rotate(90deg);
}
.splide__pagination--ttb {
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: 0.5em;
  top: 0;
}

.project-icons {
  width: 30px;
}

.smaller {
  width: 25px;
}
//blue blob
.intro::before {
  content: "";
  position: absolute;
  width: 70vh;
  height: 100%;
  z-index: -1;
  background-image: url(/images/home/blue-blob.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 110%;
  top: -25%;
  left: auto;
  right: -7%;
  transform: rotate(-90deg);
  padding-top: 5vh;
}

.content-section {
  display: grid;
  width: auto;
  grid-template-columns: 35% 63%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 17px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
}

.sub-heading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizelegibility;
  line-height: 1.1;
  font-size: 25px;
}

input,
textarea {
  width: 100%;
  height: 50px;
  padding: 12px 0px;
  margin: 8px 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}

textarea {
  height: 100px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 30px;
}

.testimonial-container * {
  transition: 0.5s all;
}

.testimonial-container {
  width: 85%;
  margin: 3%;
  height: 100%;
  position: relative;
  padding: 1.8em 1.2em;
}

.testimonial-container p {
  color: #000000;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  font-size: 17px;
  line-height: 1.5em;
}

.testimonial-link {
  text-decoration: none;
}

.testimonial-image img {
  display: block;
  margin: 1.8em auto 1.25em auto;
  border-radius: 50%;
  width: 4.4em;
}
.testimonial-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-image {
  margin-right: 20px;
}

.li-icon {
  margin-left: -2px;
  cursor: pointer;
  width: 20px;
}

.testimonial-name h3 {
  color: #000000;
  font-size: 1em;
  font-family: "Work Sans", sans-serif;
  text-align: left;
  margin: 0px;
  margin-bottom: 5px;
}

#captcha {
  width: 100%;
  margin-bottom: 20px;
  display: none;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -50px 0 0 0 !important;
  z-index: -999999;
  opacity: 0;
}

.testimonial-container h6 {
  color: #000000;
  font-family: "Work Sans", sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin: 0;
  text-align: left;
}
@media screen and (max-width: 650px) {
  .slide-wrapper {
    font-size: 14px;
    min-height: 26em;
  }
}
/* slider end */

.zoe .interflora .geotab .oncrawl .sew .ttt {
  font-weight: 400;
}

.zoe {
  color: #fac828;
}

.interflora {
  color: #caad59;
}

.geotab {
  color: #25477b;
}

.ttt {
  color: #48347c;
}

.oncrawl {
  color: #271964;
}

.sew {
  color: #1f743d;
}

.form-submit {
  padding: 2%;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  font-size: 16px;
  width: 30%;
  min-height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.5s;
  cursor: pointer;
}

.form-submit:hover {
  color: white;
  background-color: black;
  transition: 0.5s all;
}

::placeholder {
  color: rgb(94, 94, 94);
  font-size: 15px;
}

html,
body {
  overflow-x: hidden;
}

//nav
.navigation {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-left: auto;
  max-width: 1000px;
  margin-right: auto;
  height: 96px;
  align-items: center;
  padding: 0 220px 0 220px;
}

.icon-menu {
  position: absolute;
  top: -29px;
  right: 0px;
  z-index: 1;
  font-family: "Playfair Display", sans-serif;
  font-size: 116px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 6%;
  flex-wrap: wrap;
  padding-left: 0;
}

nav ul li {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
}

.logo {
  width: 85px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  float: left;
}

.intro-grid {
  @include intro-grid;
}

.skills {
  font-family: "Work Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px auto 0px auto;
  padding: 0px 0px;
  max-width: 900px;
}

.skills-used {
  justify-content: left;
  margin: 0px;
  font-family: "Work Sans", sans-serif;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
}

.skills-used li {
  margin: 0 10px !important;
  width: 30px;
  justify-content: center;
  text-align: center;
  filter: contrast(1000%);
}

.skills-used li:nth-child(1) {
  margin-left: 0px !important;
}

.skills li {
  list-style: none;
  width: 60px;
  margin: 0 20px;
  text-align: center;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
}

.skills li img {
  height: 35px;
  width: 35px;
  margin-bottom: 5px;
  filter: contrast(1000%);
}

.toolkit-heading {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 40px;
}

.main-underline {
  width: 50%;
  margin-left: auto;
  display: absolute;
  margin-right: 20px;
}

.col {
  margin: auto;
}

.hero-text {
  font-size: 45px;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: -0.01em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 1;
}

.hero-text img {
  width: 54px;
  top: 7px;
  position: relative;
}

.container {
  display: block;
  margin: auto;
  padding: 0 5% 0 5%;
  max-width: 1000px;
}

h1 {
  font-size: 45px;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  z-index: 1;
}

.contact-row {
  display: flex;
  flex-direction: row;
}
.contact-column-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin-right: 10%;
}
.contact-column-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.social-icons {
  margin-top: 30px;
  display: flex;
  list-style: none;
  padding: 0;
}

.social-icons li {
  font-size: 1.6rem;
  margin-right: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 4%;
}

.column:first-child {
  margin-right: 10px;
}
.column:nth-child(2) {
  margin-left: 10px;
}

.column-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.column-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.social-item {
  margin-right: 30px;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: 0.3s all;
  transform: translate3d(0px, 0px, 0px);
}

.contact-button {
  display: flex;
  height: 40px;
}

.contact-button a:hover {
  color: white;
  background-color: black;
  transition: 0.5s all;
}

.contact-button a {
  padding: 2%;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  min-width: 120px;
  min-height: 30px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.5s;
}

.social-arrow {
  width: 30px;
  transition: 0.3s all;
  transform: translate3d(0px, 0px, 0px) rotate(0deg);
}

.social-item:hover > .item-link > .social-arrow {
  transition: 0.3s all;
  transform: translate3d(10px, 0px, 0px) rotate(45deg);
  filter: invert(33%) sepia(78%) saturate(7129%) hue-rotate(206deg)
    brightness(98%) contrast(95%); // svg color change on hover
}

.social-item:hover {
  transition: 0.3s all;
  transform: translate3d(0px, -5px, 0px);
}

.socials {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.intro {
  display: block;
  width: 100%;
}

p {
  font-size: 17px;
  line-height: 1.6;
  font-weight: normal;
  margin-top: 0px;
  word-spacing: normal;
  font-family: "Work Sans", sans-serif;
}

form {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
}

.item-link {
  color: black;
  text-decoration: none !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.item-link:hover {
  color: #0668e1;
  text-decoration: underline;
  transition: 0.2s;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.projects {
  display: block;
  width: 100%;
}

.type {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.project-links {
  display: flex;
  flex-direction: row;
  gap: 4%;
  margin-top: 10px;
}

.project-link {
  font-size: 1rem;
  margin-bottom: 20px;
  margin-right: 6px;
  margin-top: 20px;
}

.tech-used {
  font-weight: 500;
}

.item-links {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  font-size: 17px;
  line-height: 1.5em;
}

.project-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5%;
  padding-left: 7%;
  padding-right: 5%;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 10px;
}

.project-info,
.project-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
  flex: 1;
}

.project-image {
  align-items: center;
  width: 100%;
}

.project-inner {
  display: grid;
  grid-template-columns: 1fr;
  transition: ease 0.2s;
  gap: 2%;
  margin-bottom: 40px;
  border-radius: 10px;
  z-index: 1;
}

.last {
  margin-bottom: 0px;
}

.profile {
  width: 70%;
  border: 1px solid black;
  border-radius: 100%;
  z-index: 1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#nav-item {
  font-size: 19px;
}

#nav-item:hover {
  font-style: italic;
}

.project-title {
  font-family: "Inter", sans-serif;
  font-size: 1.25em;
  margin: 0 0 20px 0;
  color: #000000;
  font-weight: 500;
}

.col-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.col-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  align-items: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  z-index: 3;
  height: 96px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  text-align: center;
}

.header .logo {
  display: block;
  float: left;
  font-size: 27px;
  padding: 10px 1%;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu burger */
.header .menu-icon {
  cursor: pointer;
  display: block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  float: right;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 295px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px - this is for the menu */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    text-align: center;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .contact-nav {
    display: none;
  }
}

// tablet portrait
@media (min-width: 767px) and (max-width: 1024px) {
  .intro::before {
    width: 50vh;
    right: -13%;
  }

  .profile {
    width: 85%;
  }

  .social-item {
    margin-right: 0px;
    font-size: 1rem;
  }

  .skills li {
    width: 90px;
  }

  .menu:nth-child(4) {
    margin-right: 35px;
  }

  .logo {
    padding: 10px 4% !important;
  }

  .content-section {
    grid-template-columns: 30% 70%;
    grid-column-gap: 0px;
  }

  .skills-used li {
    margin: 0px 5px !important;
    width: 30px;
  }

  .project-item {
    padding: 7%;
  }
  .project-info {
    flex-basis: 4rem;
  }
  .project-image {
    flex-basis: 0rem;
  }

  .project-title {
    font-size: 27px;
  }
}

@media only screen and (min-width: 1500px) {
  .intro::before {
    right: 14%;
  }
}

@media only screen and (max-width: 767px) {
  .column {
    margin: 0px !important;
  }

  .johnsons {
    position: relative;
  }

  .parent {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogs-wrapper {
    flex-direction: column;
  }

  .blog-card {
    width: 99%;
  }

  .header {
    width: 100%;
    display: inline;
  }
  .contact-button {
    display: none;
  }

  .header .logo {
    padding: 10px 10px;
  }

  .skills-used li {
    margin: 0 12px !important;
  }

  .project-image {
    width: 100%;
    margin-bottom: 15px;
  }
  h1 {
    line-height: 1.2;
    z-index: 1;
  }

  h1,
  .hero-text {
    font-size: 40px;
    line-height: 1.2;
    z-index: 1;
  }

  .hero-text img {
    width: 50px;
    top: 9px;
    z-index: 1;
  }

  .content-section {
    grid-template-columns: 1.5fr;
  }

  .project-inner {
    display: grid;
    grid-template-columns: 1fr;
  }

  .social-item {
    margin-right: 14px;
    font-size: 17px;
  }

  .col-2 {
    margin-top: 48px;
  }

  .row {
    flex-direction: column;
  }

  .contact-row {
    flex-direction: column;
  }

  .contact-column-1,
  .contact-column-2 {
    flex-basis: 100%;
  }

  .intro-grid {
    grid-template-columns: 1fr;
  }

  .opaque-text {
    font-size: 80px;
  }

  .project-item {
    flex-direction: column;
    padding: 7%;
  }

  .project-info,
  .project-image {
    margin-right: 0px;
  }

  .intro {
    background-size: cover;
    background-position: top center;
    padding-top: 0px;
  }

  .header .logo {
    padding: 14px 0px 0px 19px;
    font-size: 23px;
  }

  .projects {
    background-size: cover;
    background-position: top center;
  }

  .about {
    background-size: cover;
    background-position: top center;
  }

  .contact-form {
    background-size: cover;
    background-position: top center;
  }

  .intro::before {
    top: 8%;
    left: auto;
    right: -22%;
    transform: rotate(-90deg);
    padding-top: 5vh;
    width: 50vh;
    height: 100%;
  }
}
