/* imports */
@import url("https://fonts.googleapis.com/css?family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
/* mixins */
/* variables */
/* video */
video {
  width: 100%;
  aspect-ratio: 16/9;
}

/* main styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizelegibility;
  line-height: 1.1;
}

body {
  margin: 0;
}

footer {
  width: 100%;
  position: relative;
  background-color: transparent;
  border-top: 1px solid black;
  margin: 0 auto;
  margin-top: 20vh;
  bottom: 0px;
  padding: 1px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
}

footer > p {
  font-size: 14px;
  margin-top: 14px;
}

section {
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.intro::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  z-index: 0;
  background-image: url(https://assets.website-files.com/63120895f3c1b46487d8ee55/63120895f3c1b45c11d8ee76_png5.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 110%;
  top: 10%;
  left: 50%;
  transform: rotate(-90deg);
  padding-top: 5vh;
}

.projects {
  background-image: url(/images/home/bg-2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 95% 95%;
}

/* test section */
.content-section {
  display: grid;
  width: auto;
  grid-template-columns: 35% 55%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 17px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
}

.sub-heading {
  font-family: Vollkorn;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizelegibility;
  line-height: 1.1;
  font-size: 38px;
}

.about {
  background-image: url(https://assets.website-files.com/63120895f3c1b46487d8ee55/63120895f3c1b42a11d8ee7e_png4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 82%;
}

.contact-form {
  background-image: url(/images/home/bg-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 15% 15%;
}

input,
textarea {
  width: 100%;
  height: 50px;
  padding: 12px 0px;
  margin: 8px 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}

textarea {
  height: 100px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 30px;
}

.form-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
  font-size: 17px;
  font-family: "Work Sans", sans-serif;
}

::-moz-placeholder {
  color: rgb(94, 94, 94);
  font-size: 15px;
}

:-ms-input-placeholder {
  color: rgb(94, 94, 94);
  font-size: 15px;
}

::placeholder {
  color: rgb(94, 94, 94);
  font-size: 15px;
}

html,
body {
  overflow-x: hidden;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-left: auto;
  max-width: 1000px;
  margin-right: auto;
  height: 96px;
  align-items: center;
  padding: 0 220px 0 220px;
}

.icon-menu {
  position: absolute;
  top: -29px;
  right: 0px;
  z-index: 1;
  font-family: "Playfair Display", sans-serif;
  font-size: 116px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 6%;
  flex-wrap: wrap;
  padding-left: 0;
}

nav ul li {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
}

.logo {
  width: 85px;
  font-family: "Vollkorn";
  font-style: normal;
  font-size: 27px;
  float: left;
}

.page-wrapper:before {
  content: "";
  background-image: url(https://assets.website-files.com/63120895f3c1b46487d8ee55/63120895f3c1b4d6d3d8ee99_background.jpg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  display: block;
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100%;
}

.intro-grid {
  display: grid;
  width: 100%;
  color: rgb(0, 0, 0);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.skills {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto 0px auto;
  padding: 0px 0px;
  max-width: 900px;
}

.skills-used {
  justify-content: left;
  margin: 0px;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
}

.skills-used li {
  margin: 0 10px !important;
  width: 40px;
  justify-content: center;
  text-align: center;
}

.skills-used li:nth-child(1) {
  margin-left: 0px !important;
}

.score {
  font-size: 12px;
  font-weight: bold;
}

.skills li {
  list-style: none;
  width: 60px;
  margin: 0 20px;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;
}

.skills li img {
  height: 40px;
  filter: grayscale(1);
  margin-bottom: 5px;
}

.toolkit-heading {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 40px;
}

.main-underline {
  width: 50%;
  margin-left: auto;
  display: absolute;
  margin-right: 20px;
}

.col {
  margin: auto;
}

.hero-text {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: -0.01em;
  font-family: Vollkorn;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

.hero-text img {
  width: 63px;
  top: 7px;
  position: relative;
}

.container {
  display: block;
  margin: auto;
  padding: 0 5% 0 5%;
  max-width: 1000px;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  font-weight: 700;
}

.contact-row {
  display: flex;
  flex-direction: row;
}

.contact-column-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin-right: 10%;
}

.contact-column-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.social-icons {
  display: flex;
  list-style: none;
  padding: 0;
}

.social-icons li {
  font-size: 1.6rem;
  margin-right: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.column-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.column-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.social-item {
  margin-right: 30px;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: 0.3s all;
  transform: translate3d(0px, 0px, 0px);
}

.contact-button {
  display: flex;
  height: 40px;
}

.contact-button a:hover {
  color: white;
  background-color: black;
  transition: 0.5s all;
}

.contact-button a {
  padding: 2%;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  min-width: 120px;
  min-height: 30px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.5s all;
}

.social-arrow {
  width: 30px;
  transition: 0.3s all;
  transform: translate3d(0px, 0px, 0px) rotate(0deg);
}

.social-item:hover > .item-link > .social-arrow {
  transition: 0.3s all;
  transform: translate3d(10px, 0px, 0px) rotate(45deg);
  filter: invert(33%) sepia(78%) saturate(7129%) hue-rotate(206deg) brightness(98%) contrast(95%);
}

.social-item:hover {
  transition: 0.3s all;
  transform: translate3d(0px, -5px, 0px);
}

.socials {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.intro {
  display: block;
  width: 100%;
}

p {
  font-size: 17px;
  line-height: 1.4;
  font-weight: normal;
  margin-top: 0px;
  font-family: "Work Sans", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
}

.item-link {
  color: black;
  text-decoration: none !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.item-link:hover {
  color: #0668E1;
  text-decoration: underline;
  transition: 0.2s;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.projects {
  display: block;
  width: 100%;
}

.type {
  font-family: "Work Sans", sans-serif;
}

.project-item {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  width: 100%;
  padding: 5%;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.5s all;
}

.project-info,
.project-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
  flex: 1;
}

.project-image {
  align-items: center;
  width: 100%;
}

.project-inner {
  display: grid;
  grid-template-columns: 1fr;
  transition: ease 0.2s;
  gap: 2%;
  margin-bottom: 40px;
  border-radius: 10px;
  z-index: 1;
}

.project-item:hover {
  transition: 0.5s all;
  transform: translateY(-10px);
}

.last {
  margin-bottom: 0px;
}

.profile {
  width: 70%;
  border: 2px solid black;
  border-radius: 100%;
  z-index: 1;
}

.memoji-idea-2 {
  width: 80%;
  margin: auto;
}

#nav-item {
  font-size: 19px;
}

#nav-item:hover {
  font-style: italic;
}

.project-title {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
  margin: 0 0 20px 0;
  color: #000000;
}

.opaque-text {
  color: #161313;
  opacity: 20%;
  font-size: 100px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.opaque-text-description {
  font-family: "Work Sans", sans-serif;
  margin-top: -20px;
  margin-bottom: 30px;
}

.col-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.col-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* header */
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  align-items: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  z-index: 3;
  height: 96px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  text-align: center;
}

.header .logo {
  display: block;
  float: left;
  font-size: 27px;
  padding: 10px 1%;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/*blobs*/
.image-background.position-absolute.footer {
  left: 62%;
  top: auto;
  right: auto;
  bottom: -350%;
  z-index: -1;
  width: 50vw;
  max-width: 100%;
}

.position-absolute {
  position: absolute;
}

/* menu burger */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px - this is for the menu */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    text-align: center;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .social-item {
    margin-right: 17px;
    font-size: 17px;
  }
  .skills li {
    width: 90px;
  }
  .content-section {
    grid-template-columns: 30% 70%;
  }
  .skills-used li {
    margin: 0px 5px !important;
    width: 40px;
  }
  .project-item {
    padding: 5%;
  }
  .project-info {
    flex-basis: 4rem;
  }
  .project-image {
    flex-basis: 0rem;
    width: 120%;
  }
  .project-title {
    font-size: 27px;
  }
}
@media (max-width: 48em) {
  .header {
    width: 100%;
    display: inline;
  }
  .contact-button {
    display: none;
  }
  .header .logo {
    padding: 10px 10px;
  }
}
@media only screen and (max-width: 600px) {
  .skills-used li {
    margin: 0 12px !important;
  }
  .project-image {
    width: 100%;
  }
  h1, .hero-text {
    font-size: 40px;
    line-height: 1;
  }
  .hero-text img {
    width: 50px;
    top: 9px;
  }
  .content-section {
    grid-template-columns: 1.5fr;
  }
  .project-inner {
    display: grid;
    grid-template-columns: 1fr;
  }
  .social-item {
    margin-right: 14px;
    font-size: 17px;
  }
  .col-2 {
    margin-top: 48px;
  }
  .row {
    flex-direction: column;
  }
  .contact-row {
    flex-direction: column;
  }
  .contact-column-1,
.contact-column-2 {
    flex-basis: 100%;
  }
  .intro-grid {
    grid-template-columns: 1fr;
  }
  .opaque-text {
    font-size: 80px;
  }
  .project-item {
    flex-direction: column;
    padding: 7%;
  }
  .project-info,
.project-image {
    margin-right: 0px;
  }
  .intro {
    background-size: cover;
    background-position: top center;
    padding-top: 0px;
  }
  .header .logo {
    padding: 10px 19px;
  }
  .projects {
    background-size: cover;
    background-position: top center;
  }
  .about {
    background-size: cover;
    background-position: top center;
  }
  .contact-form {
    background-size: cover;
    background-position: top center;
  }
  .intro::before {
    width: 90%;
    height: 90%;
    top: 28%;
    left: 40%;
    transform: rotate(-90deg);
    padding-top: 5vh;
  }
}/*# sourceMappingURL=style.css.map */