/* imports */
@import url("https://fonts.googleapis.com/css?family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
/* mixins */
/* variables */
/* video */
video {
  width: 100%;
  aspect-ratio: 16/9;
}

/* main styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizelegibility;
  line-height: 1.1;
}

body {
  margin: 0;
}

footer {
  width: 100%;
  position: relative;
  background-color: transparent;
  border-top: 1px solid black;
  margin: 0 auto;
  margin-top: 20vh;
  bottom: 0px;
  padding: 1px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
}

footer > p {
  font-size: 14px;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.intro {
  background-image: url(/images/home/bg-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 5vh;
}

.projects {
  background-image: url(/images/home/bg-2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 95% 95%;
}

.about {
  background-image: url(/images/home/bg-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 95% 95%;
}

.contact-form {
  background-image: url(/images/home/bg-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 15% 15%;
}

input,
textarea {
  width: 100%;
  height: 50px;
  padding: 12px 0px;
  margin: 8px 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}

textarea {
  height: 100px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 30px;
}

.form-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
  font-size: 17px;
  font-family: "Work Sans", sans-serif;
}

::-moz-placeholder {
  color: rgb(94, 94, 94);
  font-size: 15px;
}

:-ms-input-placeholder {
  color: rgb(94, 94, 94);
  font-size: 15px;
}

::placeholder {
  color: rgb(94, 94, 94);
  font-size: 15px;
}

html,
body {
  overflow-x: hidden;
}

label .menu {
  position: absolute;
  right: 0;
  top: -130px;
  overflow: hidden;
  overflow-x: hidden;
  z-index: 100;
  width: 85px;
  height: 200px;
  background: #1ed291;
  border-radius: 0 0 0 75px;
  transition: 0.4s ease-in-out;
  box-shadow: 0 0 0 0 #1ed291, 0 0 0 0 #1ed291;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 161px;
  left: 38px;
  width: 30px;
  height: 2px;
  background: #000000;
  display: block;
  transform-origin: center;
  transition: 0.4s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000000;
}

label > ul > li {
  list-style: none;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #1ed291, 0 0 0 100vh #1ed291;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  padding: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.15s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  text-decoration: none;
}

.intro-grid {
  display: grid;
  width: 100%;
  color: rgb(0, 0, 0);
  grid-template-columns: 1fr 0.7fr;
  grid-template-rows: auto;
}

.intro-sub {
  width: 90%;
  margin-top: 30px;
}

.skills {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto 0px auto;
  padding: 20px 0;
  max-width: 900px;
}

.skills-used {
  justify-content: left;
  margin: 0px;
}

.score {
  font-size: 12px;
  font-weight: bold;
}

.skills li {
  list-style: none;
  width: 60px;
  margin: 0 20px;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;
}

.skills li img {
  height: 40px;
  filter: grayscale(1);
  margin-bottom: 5px;
}

.toolkit-heading {
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.main-underline {
  width: 50%;
  margin-left: auto;
  display: absolute;
  margin-right: 20px;
}

.main-heading {
  margin-bottom: 5px;
}

.wrapper {
  padding: 20px;
}

.col {
  margin: auto;
}

.container {
  display: block;
  margin: auto;
  padding: 2%;
  max-width: 900px;
}

h1 {
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-row {
  display: flex;
  flex-direction: row;
}

.contact-column-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin-right: 10%;
}

.contact-column-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.social-icons {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}

.social-icons li {
  font-size: 1.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.column-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.column-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.social-item {
  margin-right: 30px;
  font-size: 17px;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: 0.3s all;
  transform: translate3d(0px, 0px, 0px);
}

.social-arrow {
  width: 30px;
  transition: 0.3s all;
  transform: translate3d(0px, 0px, 0px) rotate(0deg);
}

.social-item:hover > .item-link > .social-arrow {
  transition: 0.3s all;
  transform: translate3d(10px, 0px, 0px) rotate(45deg);
  filter: invert(58%) sepia(91%) saturate(398%) hue-rotate(107deg) brightness(99%) contrast(85%);
}

.social-item:hover {
  transition: 0.3s all;
  transform: translate3d(0px, -5px, 0px);
}

.socials {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.intro {
  display: block;
  width: 100%;
}

p {
  font-size: 17px;
  line-height: 1.4;
  font-weight: normal;
  font-family: "Work Sans", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
}

.item-link {
  color: black;
  text-decoration: none !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.item-link:hover {
  color: #1ed291;
  text-decoration: underline;
  transition: 0.2s;
}

.name {
  position: relative;
}
.name::after {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 1.1rem;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.name:hover::after {
  background-image: url("../images/home/underline-green.svg");
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.projects {
  display: block;
  width: 100%;
}

.project-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  text-decoration: none;
}

.project-info,
.project-image {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 20px;
}

.project-image {
  align-items: center;
}

.project-inner {
  display: block;
  border: 1px solid #000000;
  transition: ease 0.2s;
  margin-bottom: 40px;
  border-radius: 10px;
}

.project-inner:hover {
  transition: 0.5s all;
  transform: translateY(-10px);
}

.last {
  margin-bottom: 0px;
}

.memoji {
  max-width: 100%;
}

.memoji-idea-2 {
  width: 80%;
  margin: auto;
}

.project-title {
  font-size: 50px;
  margin: 0 0 20px 0;
  color: #00754b;
}

.opaque-text {
  color: #161313;
  opacity: 10%;
  font-size: 100px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.opaque-text-description {
  font-family: "Work Sans", sans-serif;
  margin-top: -20px;
  margin-bottom: 30px;
}

.vertical-text {
  display: flex;
  font-family: "Work Sans", sans-serif;
  transform: rotate(90deg);
  font-size: 12px;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.scroll-img {
  transform: rotate(45deg);
}

.col-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.col-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#circle {
  position: absolute;
  z-index: -1;
  letter-spacing: 3px;
  top: -65px;
  left: 100px;
  width: 90%;
  padding-bottom: 125%;
  overflow: hidden;
}

#circle text {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
  font-weight: 200;
  text-transform: uppercase;
}

#circle svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 540px;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
/* media queries */
@media only screen and (max-width: 600px) {
  .social-item {
    margin-right: 20px;
  }
  .row {
    flex-direction: column;
  }
  .contact-row {
    flex-direction: column;
  }
  .contact-column-1,
.contact-column-2 {
    flex-basis: 100%;
  }
  .intro-grid {
    grid-template-columns: 1fr;
  }
  #circle {
    display: none;
  }
  .opaque-text {
    font-size: 80px;
  }
  .project-item {
    flex-direction: column;
  }
  .vertical-text {
    transform: rotate(90deg) translate(-150px, -50%);
  }
  .project-info,
.project-image {
    margin-right: 0px;
  }
  .intro {
    background-size: cover;
    background-position: top center;
  }
  .projects {
    background-size: cover;
    background-position: top center;
  }
  .about {
    background-size: cover;
    background-position: top center;
  }
  .contact-form {
    background-size: cover;
    background-position: top center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .skills li {
    width: 90px;
  }
}/*# sourceMappingURL=style.css.map */