@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  background-color: white;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 350px;
  z-index: -1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.anim-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anim {
  width: 100px;
  height: 100px;
  background-image: url(/images/shopping-list/food.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 300px 300px;
}

h1,
h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: normal;
}

.emoji {
  font-size: 30px;
}

header {
  background-color: #ffcc33;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 350px;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 100px 30px 0 30px;
}

.create-item {
  height: 70px;
  background-color: white;
  border: 2px solid black;
  margin-top: 50px;
  border-radius: 7px;
  display: flex;
}

.check {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-mark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-mark:hover,
.check-mark.checked {
  background: black;
}

.shopping-item-text.checked {
  color: black;
  text-decoration: line-through;
}

.check-mark img {
  visibility: hidden;
}

.check-mark:hover img,
.check-mark.checked img {
  visibility: visible;
}

.bin {
  width: 6%;
  height: auto;
  display: inline-block;
  margin-right: 4px;
}

.clear-complete {
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.clear-complete:hover .bin {
  filter: invert(96%) sepia(34%) saturate(6700%) hue-rotate(324deg)
    brightness(99%) contrast(102%);
}

.item-input {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.item-input form {
  flex-grow: 1;
}

.list-input {
  font-family: 'Work Sans', sans-serif;
  color: grey;
}

.item-input input {
  width: 100%;
  outline: none;
  font-family: 'Work Sans', sans-serif;
  border: none;
  padding: 10px 0;
  background-color: transparent;
  color: black;
  font-size: 18px;
}

.item-input input::placeholder {
  color: hsl(233, 14%, 35%);
}

.shopping-item {
  width: 100%;
  color: black;
  display: flex;
  height: 70px;
  border-radius: 7px;
  border: 2px solid black;
  font-size: 18px;
  transition: all 0.25s ease;
  background-color: white;
  margin-bottom: 7px;
  margin-top: 7px;
}

.shopping-item:hover {
  transform: translateY(-3px);
  border-color: black;
}

.shopping-item-text {
  display: flex;
  align-items: center;
}

.shopping-list-wrapper {
  margin-top: 30px;
  background-color: transparent;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
}

.items-info {
  height: 70px;
  width: 100%;
  color: black;
  background-color: white;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter span {
  padding: 0 6px;
  cursor: pointer;
}

.filter span:hover,
.filter span.active,
.controls:hover {
  color: #ffcc33;
}

.controls {
  cursor: pointer;
  text-align: end;
  display: flex;
  justify-content: center;
}

.delete-item {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.delete-item img {
  width: 70%;
  margin-right: 30px;
}

.delete-item:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  .items-info {
    flex-direction: column;
    margin-top: 50px;
  }
  .clear-complete {
    justify-content: center;
  }
}
